.titleCard {
  position: static;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.titleCard_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  background-size: cover;
}
.headingCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 30%;
  position: relative;
}
