<section>
  <div class="service">
    <div class="d-flex">
      <div class="icon">
        <i class="bi bi-trophy"></i>
      </div>
      <div class="contentTitle">
        <h2>High Quality</h2>
        <p>crafted from top materials</p>
      </div>
    </div>
    <div class="d-flex">
      <div class="icon">
        <i class="bi bi-award"></i>
      </div>
      <div class="contentTitle">
        <h2>Warranty Protection</h2>
        <p>Over 2 years</p>
      </div>
    </div>
    <div class="d-flex">
      <div class="icon">
        <i class="bi bi-truck"></i>
      </div>
      <div class="contentTitle">
        <h2>Free Shipping</h2>
        <p>Order over 150 $</p>
      </div>
    </div>
    <div class="d-flex">
      <div class="icon">
        <i class="bi bi-headset"></i>
      </div>
      <div class="contentTitle">
        <h2>24 / 7 Support</h2>
        <p>Dedicated support</p>
      </div>
    </div>
  </div>
</section>
