<div class="footer_container">
  <div class="footer_header">
    <h1>Funiro</h1>
    <p>400 University Drive Suite 200 Coral Gables, FL 33134 USA</p>
  </div>

  <div class="links">
    <ul>
      <li class="subHeading">Links</li>
      <li>Home</li>
      <li>Shop</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>

  <div class="help">
    <ul>
      <li class="subHeading">Help</li>
      <li>Payment Options</li>
      <li>Returns</li>
      <li>Privacy Policies</li>
    </ul>
  </div>

  <!-- Newsletter form -->
  <form action="#" method="post" id="newsletter-form">
    <label for="email" class="subHeading help">Newsletter</label>
    <input type="text" id="email" name="email" placeholder="Enter Your Email Address">
    <input type="submit" value="SUBSCRIBE">
  </form>

  <!-- Footer -->
  <footer class="footer">2023 Funiro. All rights reserved.</footer>
</div>
