<div class="gallery">
  <figure class="gallery__item gallery__item--1">
    <img src="../assets/img/Rectangle 36.png" alt="Gallery image 1" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--2">
    <img src="../assets/img/Rectangle 38.png" alt="Gallery image 2" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--3">
    <img src="../assets/img/Rectangle 40.png" alt="Gallery image 3" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--4">
    <img src="../assets/img/Rectangle 43.png" alt="Gallery image 4" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--5">
    <img src="../assets/img/Rectangle 46.png" alt="Gallery image 5" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--6">
    <img src="../assets/img/Rectangle 37.png" alt="Gallery image 6" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--7">
    <img src="../assets/img/Rectangle 39.png" alt="Gallery image 1" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--8">
    <img src="../assets/img/Rectangle 41.png" alt="Gallery image 2" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--9">
    <img src="../assets/img/Rectangle 44.png" alt="Gallery image 3" class="gallery__img">
  </figure>
</div>
