<div class="body">
  <div class="container">
    <section class="header">
      <img class="header_bg" src="../assets/img/decal-background.png" alt="background">
      <div class="product-card">
        <div class="title">Small Bold Title</div>
        <h1 class="main-heading">Large Main Heading</h1>
        <p class="description">Description of the product goes here.</p>
        <button class="buy-now">BUY NOW</button>
      </div>
    </section>

    <section class="sect_pading">
      <div class="heading-container">
        <h1 class="main-title">Main Heading</h1>
        <h2 class="sub-heading">Sub Heading</h2>
      </div>
      <div class="image-grid">
        <div class="image">
          <img src="../assets/img/image 100.png" alt="Image 1">
          <p class="image-name">Image 3</p>
        </div>
        <div class="image">
          <img src="../assets/img/image 101.png" alt="Image 2">
          <p class="image-name">Image 3</p>
        </div>
        <div class="image">
          <img src="../assets/img/image 106.png" alt="Image 3">
          <p class="image-name">Image 3</p>
        </div>
      </div>

      <div class="heading-container">
        <h1 class="main-title">Main Heading</h1>
      </div>
      <app-product-grid-list [gridImages]="gridImages"></app-product-grid-list>
    </section>

    <section class="section">
      <div class="left-side">
        <h2 class="main-heading">Main Heading</h2>
        <p class="description">Description of the main heading goes here.</p>
        <button class="button">Explore More</button>
      </div>
      <div class="right-side">
        <div class="image-container">
          <app-sliderimage class="image-name" [images]="images"></app-sliderimage>
        </div>
        <div class="pagination">
          <!-- Pagination buttons will be added dynamically using JavaScript -->
        </div>
      </div>
    </section>
    <section>
      <div class="gallery_title">
        <p>Share your setup with</p>
        <h1>#FuniroFurniture</h1>
      </div>
      <div class="gallery_container">
        <app-gallery></app-gallery>
      </div>
    </section> 
    <app-footer></app-footer>
  </div>
</div>
